body {
    background-color:rgb(147, 173, 230);
    min-height: 100vh;
    overflow-x: hidden
}

/*formats caption*/
.define {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 80px;
    margin-top: 200px;
    color: white;
}

/*formats grid*/
.main {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 300px));
    column-gap: 20px;
    row-gap: 20px;
}

/*changes res of pics*/
img {
    width: 600px;
    height: 900px;
    object-fit: cover;
    object-position: center;
}

.hero {
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%; 
    display: block;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}